DB_CON_STRING="mongodb://localhost:27017/hh-users"
FRONTEND_URL="http://localhost:3000"
PORT=9998
NODE_ENV="development"
PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDQX03v5/iQB3dq
wXct4u7EUyhT99WKzJ88TKXDpU7Uwb+QP18jleKlYCQQ2YzkbnW3ziqyz5p1nMji
jONeoWA+S+JWeC+5/Lt1YuDFecHOMU2i4VuK1MzpYOURFtwJ5qnQOHqB6DhVJh0x
f0ufvnFM0ld1qsnfxqPu+smDPyJ74pzWnWFvgA1UudXMbAlfaNmbtcFoEJkFYorr
wSbL+Utd731Pzv3/Fzi1EM7N6NFVna65B8Qtxf050Om3TXtbh1EhIaNrmqdS488I
JDvV+pHCyrvQEoFCvGHUSCGtJHCZaE5PcmFwrMp2kEr9s3Y/ZZR7fQr2X7vJT0sv
RX30t4itAgMBAAECggEABrztfKm9JWuGNRU5GySdxsT9z0MdrzoCl0T9mZuXcMNa
8sUHp1NXJEv3Wjs5nCjabzBgR7pprbzxwMFR0okMvFtVAu9wc0nJNMQ556pMZ3oY
wgDUjx1PIhZ25LZZNLpktf9ORb+VTgYfcovkpLsSY06a29xad3GX5tmQOWxm5u1o
avS1q1Wtpw3oYdL/L3eWBtVfq2WD5AtflZwq3GIZRy6K7b18y1Ti/aeudBVEdvFr
uBIVBaXndTMZYRdPlEMDvsgDduJkzTGDSAOWWkOObptq1+qTt8kbHAe5xAXaByTk
XJK7N9io39FkabYsbGlXTO85ITN5G8TKWgaI9Fe79wKBgQD/7a7SbKYa0/swS+UJ
nGhlgmutzgBgHQkqaAX4gDcVhme16BplmcRftbNH97pdFTLT/V/VFvRs0B6nCgDL
CumJlCqDwzkGfkoCPsQAfc2RP/Hoz+Lphpcc8h2iJvSgMWYL7/X/nQs5X4Pv+AMX
H4bIFvzQC1uLc2ygGZs+CJOsEwKBgQDQbjfHzwOf18zlvpVGLN78zaMv71YA9xDO
KdT8YiqLY3FGaauaRKAuJ9WFjBrq2b8vcQKJzI2CORQ1Le7JG7pkN+RJrjrS6yFV
bcFECx9nqhu4QibRjynxiEjBY84rbFQtNb/pcPx6xyVo7dIc7tfuYthk/htLnL8A
bHj+YcUQPwKBgBKwlt3DFXZMGMH0KOvEwlL3bUmqC5j5RdwU8KqvIlauFBDSvGrD
CfY7XLZavv9hNu8IR+FV5c+0eyiTsG8jgt6LNXed4CI7QshbMREgHs0GsHHiDJ4l
OA/jForq8V5pfRxOD9b07wbnlMkHgaJEqSEfnKLM0Yiji0E93XpwQeiFAoGBALdV
m38HWlrJCRO0tbzKT0Hy522MigvDRmbxaMSu3FlLGSIkZKsHXhX7N9eGS070RTTH
pMHsyTQYXOwCAR2oZCUu/IDK3jcUV3e7WNovJmqauFM07Mw7r1si00w4K+sKGGjD
9JCzr4GXlhJbzgthE1I+Y7VBxmSV9XO79hlbimklAoGBAOrH0FJYZ22vZq5uDS9J
gUltvOg1Ma98+zF9XY4sfJl511Puluv6DXODhGbWULlYtJzCdnFmL4Wq3pw9dh6j
eqQjDbcfXtByxE0gSyRZxTqyTI+UPJYSlJzPeRtti53PeuyidGrvPzg2KBd8w/7x
z/RMMYiVCfn5Yp0OdeR7h9lz\n-----END PRIVATE KEY-----

PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0F9N7+f4kAd3asF3LeLu
xFMoU/fVisyfPEylw6VO1MG/kD9fI5XipWAkENmM5G51t84qss+adZzI4ozjXqFg
PkviVngvufy7dWLgxXnBzjFNouFbitTM6WDlERbcCeap0Dh6geg4VSYdMX9Ln75x
TNJXdarJ38aj7vrJgz8ie+Kc1p1hb4ANVLnVzGwJX2jZm7XBaBCZBWKK68Emy/lL
Xe99T879/xc4tRDOzejRVZ2uuQfELcX9OdDpt017W4dRISGja5qnUuPPCCQ71fqR
wsq70BKBQrxh1EghrSRwmWhOT3JhcKzKdpBK/bN2P2WUe30K9l+7yU9LL0V99LeI
rQIDAQAB\n-----END PUBLIC KEY-----