DB_CON_STRING="mongodb://localhost:27017/integration-hh-listings"
PORT=9997
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0F9N7+f4kAd3asF3LeLu
xFMoU/fVisyfPEylw6VO1MG/kD9fI5XipWAkENmM5G51t84qss+adZzI4ozjXqFg
PkviVngvufy7dWLgxXnBzjFNouFbitTM6WDlERbcCeap0Dh6geg4VSYdMX9Ln75x
TNJXdarJ38aj7vrJgz8ie+Kc1p1hb4ANVLnVzGwJX2jZm7XBaBCZBWKK68Emy/lL
Xe99T879/xc4tRDOzejRVZ2uuQfELcX9OdDpt017W4dRISGja5qnUuPPCCQ71fqR
wsq70BKBQrxh1EghrSRwmWhOT3JhcKzKdpBK/bN2P2WUe30K9l+7yU9LL0V99LeI
rQIDAQAB\n-----END PUBLIC KEY-----"